.container {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: azure;
}

.form {
  margin-bottom: 20px;
}

.btn-container {
  margin-top: 20px;
  text-align: center;
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

